/* === COLORS ===*/

$mainText: #848484;
$secondaryText: #ffffff;

$headerSocials: #f4f4f4;

$SectionHeader:    #000000;

$mainBg: #e7e7e7;
$footerBg: #e3e3e3;
$cocialsBg: #c2c2c2;

$videoControlsBg: #2a2929;
$bufferingBar: #666666;

$blueLight: #00adef;
$blueMd: #3498db;
$BlueDark: #0d74b9;
/* === FONTS === */

$pcf: "Pacifico-Regular";
$mrd300: "MyriadPro-Light";
$mrd700: "MyriadPro-Bold";
$hlv400: "HelveticaNeueCyr-Roman";
$hlv500i: "HelveticaNeueCyr-MediumItalic";
$hlv500: "HelveticaNeueCyr-Medium";
$hlv700i: "HelveticaNeueCyr-BoldItalic";
