/* === COLORS ===*/

$mainText:              #848484;
$secondaryText:         #ffffff;

$mainBg:                #e7e7e7;
$secondaryBg:           #f6f6f6;
$footerBg:              #e3e3e3;

$blueLight:             #00adef;
$blueMd:                #3498db;
$blueDark:              #0d74b9;

$sectionHeaderColor:    #000000;
$cardTitleColor:        #222222;
$socialsHeaderColor:    #f4f4f4;
$socialsFooterBg:       #c2c2c2;
$socialsHeaderBg:       #000000;
$borderLight:           #e3e3e3;
$borderDark:            #c2c2c2;
$videoControlsBg:       #2a2929;
$videoBufferingBar:     #666666;
$textShadow:            #000101;


/* === FONTS === */

$pcf:                   "Pacifico-Regular";
$mrd300:                "MyriadPro-LightCond";
$mrd600:                "MyriadPro-Semibold";
$mrd700:                "MyriadPro-Bold";
$hlv400:                "HelveticaNeueCyr-Roman";
$hlv500i:               "HelveticaNeueCyr-MediumItalic";
$hlv500:                "HelveticaNeueCyr-Medium";
$hlv700i:               "HelveticaNeueCyr-BoldItalic";

$sectionHeaderFZ:       30px;
