@import "vars";
@import "libs";
@import "fonts";
/* === COMMON === */
body {
  font-size: 16px;
  line-height: 26px;
  color: $mainText;
  font-family: $hlv400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* === /COMMON === */
/* === GRID === */
.container-outer {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.container-inner {
  margin: 0 auto;
  max-width: 1180px;
}
.col-6 {
  display: flex;
  justify-content: space-between;
}
.section-title {
  font-family: $mrd700;
  font-size: $sectionHeaderFZ;
  color: $sectionHeaderColor;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}
.section-subtitle {
  font-family: $hlv400;
  text-align: center;
}
/* === GRID === */
/* === HEADER === */
.header {
  background: url(../img/header-bg.png) 50% 50% no-repeat;
  background-size: cover;
  padding-left: 120px;
  &-text {
    flex-basis: 50%;
    &__title {
      margin-top: 147px;
      margin-bottom: 51px;
    }
    &__link {
      color: $secondaryText;
      font-family: $pcf;
      font-size: 72px;
      text-shadow: 2px 4px 0px rgba($textShadow, 0.35);
      text-transform: capitalize;
    }
    &__subtitle {
      color: $secondaryText;
      font-family: $hlv400;
      font-size: 24px;
      margin-bottom: 26px;
      text-shadow: 2px 4px 0px rgba($textShadow, 0.25);
      &::first-letter {
        text-transform: capitalize;
      }
    }
    &__socials {
      margin-bottom: 195px;
      display: flex;
      &-box {
        margin-right: 15px;
        width: 53px;
        height: 53px;
        line-height: 53px;
        text-align: center;
        border-radius: 50%;
        background: $socialsHeaderBg;
        opacity: 0.5;
        transition: all 0.2s ease-in;
        &:hover,
        &--active {
          opacity: 1;
        }
      }
      &-link {
        color: $socialsHeaderColor;
        font-size: 25px;
        padding: 15px;
      }
    }
  }
  &-image {
    flex-basis: 50%;
    margin-top: 50px;
    background: url(../img/header-img-box.png) 50% 10% no-repeat;
    background-size: contain;
    position: relative;
    &__img {
      position: absolute;
      bottom: 204px;
      right: 288px;
      width: 163px;
      height: 245px;
    }
  }
}
/* === /HEADER === */

/* === MAIN === */
/* --=FEATURES=-- */
.features {
  background: $secondaryBg;
  padding-top: 60px;
  &__subtitle {
    margin-bottom: 55px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    flex-basis: 33%;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 60px;
    &-title {
      margin-top: 31px;
      margin-bottom: 24px;
      color: $cardTitleColor;
      text-transform: capitalize;
    }
    &-text {
      width: 80%;
      margin: 0 auto;
    }
    &:nth-child(-n + 3):before {
      content: "";
      position: absolute;
      background: $borderLight;
      width: 80%;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(3n + 1):after {
      content: "";
      position: absolute;
      background: $borderLight;
      width: 2px;
      height: 80%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3n + 2):after {
      content: "";
      position: absolute;
      background: $borderLight;
      width: 2px;
      height: 80%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
/* --=/FEATURES=-- */
/* --=ABOUT=-- */
/* --=/ABOUT=-- */
/* --=SLIDER=-- */
.slider {
  background: $secondaryBg;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  &__testimonials {
    &-card {
      font-size: 24px;
      text-transform: capitalize;
      width: 80%;
    }
    &-text {
      font-style: italic;
      margin-bottom: 26px;
    }

    &-author {
      font-family: $mrd700;
      color: $cardTitleColor;
      margin-bottom: 60px;
    }
  }
}

/* --=/SLIDER=-- */
/* --=PRICES=-- */
.prices {
  background: $mainBg;
  padding-top: 60px;

  &__title {
    margin-bottom: 25px;
  }

  &__box {
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 50px;
    
  }
  &__card {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    transition: all 0.2s ease-in;
    &:hover {
      transform: scaleY(1.1);
      transform-origin: 50%;
    }
    &:not(:last-child) {
      margin-right: 4px;
    }
    &-title {
      font-family: $mrd700;
      font-size: 28px;
      color: $secondaryText;
      padding-top: 17px;
      padding-bottom: 17px;
      background: $blueMd;
    }
    &-price {
      background: $secondaryBg;
      color: $cardTitleColor;
      font-family: $mrd700;
      font-size: 42px;
      padding-top: 16px;
      padding-bottom: 16px;
      vertical-align: top;
      &--sup {
        font-size: 27px;
        vertical-align: 40%;
      }
    }
    &-features {
      background: $secondaryBg;
      padding-top: 14px;
      padding-bottom: 14px;
      position: relative;
      &:before {
        content: "";
        background: $borderDark;
        display: block;
        position: absolute;
        width: 90%;
        height: 1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-footer {
      background: $blueMd;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &-button {
      color: $secondaryText;
      background: $blueDark;
      font-family: $mrd700;
      font-size: 15px;
      padding: 15px 32px;
      text-transform: uppercase;
    }
  }
}

/* --=/PRICES=-- */
/* --=MAIN-SOCIALS=-- */
.main-socials {
  background: $secondaryBg;
  &__title {
    margin-top: 126px;
  }

  &__subtitle {
    margin-bottom: 25px;
  }
  &__box {
    margin-bottom: 61px;
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }
  &__item:not(:last-of-type) {
    margin-right: 10px;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    background: $socialsFooterBg;
    border-radius: 50%;
    color: $secondaryText;
    font-size: 20px;
    transition: all 0.2s ease-in;
    &--active,
    &:hover {
      background: $blueMd;
    }
  }
}

/* --=/SOCIALS=-- */
/* === /MAIN === */

/* === FOOTER === */
.footer {
  background: $footerBg;
  padding-top: 60px;
  padding-bottom: 56px;
  &__nav {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    &-link {
      text-transform: capitalize;
      color: $mainText;
      font-family: $mrd700;
    }
  }
}
/* === /FOOTER === */

.my-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}
.my-dots li button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid $blueMd;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
}
.my-dots li.slick-active button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: $blueMd;
  width: 15px;
  height: 15px;
}

@import "media";
