@import "vars";
@import "libs";
@import "fonts";
/* === COMMON === */
body {
  font-size: 16px;
  line-height: 26px;
  color: $mainText;
  font-family: $hlv400;

  // background: $secondaryBg;
  background: linear-gradient(90deg, rgba($mainBg, 0.6) 0%, rgba($blueLight, 0.1) 50%, rgba($mainBg, 0.6) 100%);
  background-size: 300%;
  animation: main 10s linear infinite;
}

@keyframes main {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
//!! particles js? vanta js? https://www.youtube.com/watch?v=TJY45v_QF34  https://www.youtube.com/watch?v=Z-qZoe9jywU
/* === /COMMON === */
/* === GRID === */
.container-outer {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.container-inner {
  margin: 0 auto;
  max-width: 1180px;
}
.section-title {
  font-family: $mrd700;
  font-size: $sectionHeaderFZ;
  color: $sectionHeaderColor;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}
.section-subtitle {
  font-family: $hlv400;
  text-align: center;
}

.outset-block {
  box-shadow: 6px 6px 6px 6px rgba(#c2c2c2, 0.4);
  margin: 40px 10px;
  border-radius: 30px;
}

/* === GRID === */
/* === HEADER === */
.header {
  background: url(../img/header-bg.png) 50% 50% no-repeat;
  background-size: cover;

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    flex-basis: 50%;
    margin-left: 120px;
    &__title {
      margin-top: 147px;
      margin-bottom: 51px;
    }
    &__link {
      color: $secondaryText;
      font-family: $pcf;
      font-size: 72px;
      text-shadow: 2px 4px 0px rgba($textShadow, 0.35);
      text-transform: capitalize;
    }
    &__subtitle {
      color: $secondaryText;
      font-family: $hlv400;
      font-size: 24px;
      margin-bottom: 26px;
      text-shadow: 2px 4px 0px rgba($textShadow, 0.25);
      &::first-letter {
        text-transform: capitalize;
      }
    }
    &__socials {
      margin-bottom: 195px;
      display: flex;
      &-box {
        position: relative;
        margin-right: 15px;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background: $socialsHeaderBg;
        opacity: 0.5;
        transition: all 0.2s ease-in;
        &:hover,
        &--active {
          opacity: 1;
        }
      }
      &-link {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        color: $socialsHeaderColor;
        font-size: 25px;
      }
    }
  }
  &-image {
    flex-basis: 50%;
    position: relative;
    &__img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
/* === /HEADER === */

/* === MAIN === */
/* --=FEATURES=-- */
.features {
  background: $secondaryBg;
  padding-top: 60px;
  &__subtitle {
    margin-bottom: 55px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    flex-basis: 33%;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 60px;

    &-title {
      margin-top: 31px;
      margin-bottom: 24px;
      color: $cardTitleColor;
      text-transform: capitalize;
      transition: all 0.2s ease-in;
    }
    &-text {
      width: 80%;
      margin: 0 auto;
      transition: all 0.2s ease-in;
    }
    &-img {
      max-width: 50px;
      max-height: 50px;
      transition: all 0.2s ease-in-out;
    }

    &:nth-child(-n + 3):before {
      content: "";
      position: absolute;
      background: $borderLight;
      width: 80%;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(3n + 1):after {
      content: "";
      position: absolute;
      background: $borderLight;
      width: 2px;
      height: 80%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3n + 2):after {
      content: "";
      position: absolute;
      background: $borderLight;
      width: 2px;
      height: 80%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover .features__card-img {
      transform: scale(1.2);
    }
    &:hover .features__card-title {
      font-size: 20px;
    }
    &:hover .features__card-text {
      font-size: 17px;
    }
  }
}

/* --=/FEATURES=-- */
/* --=ABOUT=-- */
.about {
  background: $mainBg;
  padding-top: 60px;
}

/* --=/ABOUT=-- */
/* --=SLIDER=-- */
.slider {
  background: $secondaryBg;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  &__testimonials {
    &-card {
      font-size: 24px;
      text-transform: capitalize;
      width: 80%;
    }
    &-text {
      font-style: italic;
      margin-bottom: 26px;
    }

    &-author {
      font-family: $mrd700;
      color: $cardTitleColor;
      margin-bottom: 60px;
    }
  }
}

/* --=/SLIDER=-- */
/* --=PRICES=-- */
.prices {
  background: $mainBg;
  padding-top: 60px;

  &__title {
    margin-bottom: 25px;
  }

  &__box {
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 34px;
    left: 2px;
  }
  &__card {
    border-radius: 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    margin-left: 2px;
    margin-right: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 10;
    box-shadow: 6px 6px 6px 3px rgba(#c2c2c2, 0.4);
    &:hover {
      box-shadow: 6px 6px 6px 3px rgba(#c2c2c2, 0.4);
      transform: scale(1.02);
      transform-origin: 50%;
      z-index: 100;
    }

    &:hover .prices__card-title {
      font-size: 31px;
    }

    &:hover .prices__card-price {
      font-size: 44px;
    }
    &:hover .prices__card-price--sup {
      font-size: 28px;
    }

    &:hover .prices__card-button {
      font-size: 16px;
      padding: 16px 33px;
      border-radius: 16px;
    }

    &-title {
      font-family: $mrd700;
      font-size: 28px;
      color: $secondaryText;
      padding-top: 17px;
      padding-bottom: 17px;
      background: $blueMd;
      transition: font-size 0.3s ease;
    }
    &-price {
      background: $secondaryBg;
      color: $cardTitleColor;
      font-family: $mrd700;
      font-size: 42px;
      padding-top: 16px;
      padding-bottom: 16px;
      vertical-align: top;
      transition: font-size 0.3s ease;
      &--sup {
        font-size: 27px;
        vertical-align: 40%;
      }
    }
    &-features {
      background: $secondaryBg;
      border: none;
      padding-top: 14px;
      padding-bottom: 14px;
      position: relative;
      overflow: hidden;
      transition: font-size 0.3s ease;
      cursor: pointer;
      &:before {
        content: "";
        background: $borderDark;
        display: block;
        position: absolute;
        width: 90%;
        height: 1px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
      }
      &:hover {
        font-size: 17px;
        font-weight: 500;
        color: $cardTitleColor;
      }
    }
    &-footer {
      background: $blueMd;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &-button {
      color: $secondaryText;
      background: #3292d3;
      border-radius: 15px;
      font-family: $mrd700;
      font-size: 15px;
      padding: 15px 32px;
      text-transform: uppercase;
      transition: font-size 0.3s ease;
      box-shadow: 6px 6px 6px 3px rgba(#0d74b9, 0.3), -1px -1px 1px 1px rgba(#f6f6f6, 0.1);
      &:hover {
        background: red;
      }
    }
  }
}

/* --=/PRICES=-- */
/* --=MAIN-SOCIALS=-- */
.main-socials {
  background: $secondaryBg;
  padding-top: 126px;
  padding-bottom: 61px;
  &__title {
  }

  &__subtitle {
    margin-bottom: 25px;
  }
  &__box {
    display: flex;
    justify-content: space-between;

    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    position: relative;
    width: 34px;
    height: 34px;
  }


  &__link {
    display: block;
    position: absolute;
background: #000;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background: $socialsFooterBg;
    border-radius: 50%;
    color: $secondaryText;
    font-size: 20px;
    transition: all 0.2s ease-in;
    box-shadow: 4px 4px 6px 3px rgba(#c2c2c2, 0.6), -1px -1px 1px 1px rgba(#f6f6f6, 1);
    &--active,
    &:hover {
      background: $blueMd;
    }
  }
  &__img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     }  
}

/* --=/SOCIALS=-- */
/* === /MAIN === */

/* === FOOTER === */
.footer {
  background: $footerBg;
  padding-top: 60px;
  padding-bottom: 56px;
  &__nav {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;

    &-item {
    }
    &-link {
      border: 1px solid rgba($borderDark, 0.1);
      border-radius: 16px;
      text-transform: capitalize;
      color: $mainText;
      font-family: $mrd700;
      padding: 15px 32px;
      transition: all 0.2s ease-in;
      box-shadow: 6px 6px 6px 3px rgba(#c2c2c2, 0.4), -1px -1px 1px 1px rgba(#f6f6f6, 0.3);

      &:hover {
        color: $blueMd;
        background: red;
      }
    }
  }
}
/* === /FOOTER === */

.my-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}
.my-dots li button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid $blueMd;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}
.my-dots li.slick-active button:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: $blueMd;
  width: 10px;
  height: 10px;
}

@import "media";
